<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\ReCaptchaUi\Block\ReCaptcha">
        <plugin name="dt_magento_ui_recaptcha_optimizer"
                type="Dathard\GoogleRecaptchaLoadDelay\Plugin\MagentoUi\DelayLoadPlugin"/>
    </type>
    <type name="Magento\Customer\Block\Account\AuthenticationPopup">
        <plugin name="dt_magento_authentication_popup_ui_recaptcha_optimizer"
                type="Dathard\GoogleRecaptchaLoadDelay\Plugin\MagentoUi\AuthenticationPopupCaptchaDelayLoad"/>
    </type>

    <type name="Amasty\InvisibleCaptcha\Block\Captcha">
        <plugin name="dt_amasty_invisiblecaptcha_optimizer"
                type="Dathard\GoogleRecaptchaLoadDelay\Plugin\Amasty\DelayLoadPlugin"/>
    </type>

    <type name="Mageplaza\GoogleRecaptcha\Block\Captcha">
        <plugin name="dt_mageplaza_googlerecaptcha_optimizer"
                type="Dathard\GoogleRecaptchaLoadDelay\Plugin\Mageplaza\DelayLoadPlugin"/>
    </type>
</config>